body {
  margin: 0;
  background: rgba(183, 183, 183, 0.2);
}
body .header {
  width: 100%;
  height: auto;
  background-size: cover;
}
body .header > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_one {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
body .content_one .one_imgone {
  width: 100%;
  height: 2.16rem;
}
body .content_one .one_imgone .one_img_one {
  width: 100%;
  height: 100%;
  position: relative;
}
body .content_one .one_imgone .one_img_one .one_imgone_img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
body .content_one .one_imgone .one_img_point {
  margin: 0 auto;
  margin-top: -0.28rem;
  display: table;
  opacity: 0.5;
}
body .content_one .one_imgone .one_img_point .one_img_point_item {
  text-align: center;
  overflow: hidden;
}
body .content_one .one_imgone .one_img_point .one_img_point_item .point_item {
  width: 0.2rem;
  height: 0.2rem;
  display: block;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  float: left;
  margin: 0;
  margin-right: 0.3rem;
  position: relative;
  z-index: 0.8;
}
body .content_one .one_twobox {
  width: 100%;
  height: 2.2rem;
  margin-top: 1px;
  position: relative;
}
body .content_one .one_twobox .one_two_img {
  width: 110%;
  height: 100%;
  background-image: url("../image/Details/click_one.png");
  background-size: 120% 105%;
  overflow: hidden;
  position: relative;
  margin-top: -12px;
  top: -2px;
  left: -25px;
}
body .content_one .one_twobox .one_two_img_two {
  width: 100%;
  height: 100%;
  background-image: url("../image/Details/click_two.png");
  background-size: 100% 100%;
  position: absolute;
  left: 0.8rem;
  top: 0;
  overflow: hidden;
  animation: oo 0.8s infinite;
}
body .content_one .one_twobox .one_two_background {
  width: 2rem;
  height: 1.86rem;
  background: #34a9ff;
  position: absolute;
  top: 0.268rem;
  left: 0;
  z-index: -1;
}
body .content_one .one_threebox {
  width: 100%;
  height: auto;
  background: #ffffff;
  overflow: hidden;
}
body .content_one .one_threebox .one_three_item {
  width: 20%;
  height: 95%;
  font-size: 0.32rem;
  display: block;
  font-family: Arial;
  font-weight: 800;
  text-decoration: none;
  line-height: 0.65rem;
  color: #666666;
  float: left;
  text-align: center;
  position: relative;
  border-bottom: 0.04rem solid #ffffff;
  outline: none;
}
body .content_one .one_threebox .one_three_item_i {
  width: 20%;
  height: 95%;
  font-size: 0.28rem;
  display: block;
  text-decoration: none;
  font-family: Arial;
  font-weight: 800;
  line-height: 0.65rem;
  color: #666666;
  float: left;
  text-align: center;
  position: relative;
  border-bottom: 0.04rem solid #ffffff;
}
body .content_one .one_threebox .one_three_item_i .item {
  font-size: 0.28rem;
  display: block;
  font-family: Arial;
  font-weight: 800;
  line-height: 0.65rem;
  color: #666666;
  margin: 0;
}
body .content_one .one_threebox .one_three_item_i .item_img {
  position: absolute;
  right: 0.3rem;
  top: 0.2rem;
  width: 0.11rem;
  height: 0.2rem;
  background-image: url("../image/Details/right.png");
  background-size: 100% 100%;
}
body .content_one .one_threebox .item_add {
  color: #eb2c2c;
  border-bottom: 0.04rem solid #eb2c2c;
}
body .content_one .one_threebox .item_i_add {
  border-bottom: 0.04rem solid #ffffff;
}
body .content_one .one_threebox .item_i_add > p {
  color: #eb2c2c !important;
}
body .content_one .one_threebox .item_i_add > div {
  position: absolute;
  right: 0.2rem;
  top: 0.25rem;
  width: 0.2rem;
  height: 0.11rem;
  background-image: url("../image/Details/down.png");
  background-size: 100% 100%;
}
body .content_one .one_threebox .expansion {
  display: none;
  width: 100%;
  height: auto;
  overflow: hidden;
}
body .content_one .one_threebox .expansion .expansion_item {
  width: 1.5rem;
  height: 0.51rem;
  text-decoration: none;
  display: block;
  background: #ffffff;
  float: left;
  border: 1px solid #707070;
  margin: 0.1rem;
  font-size: 0.32rem;
  font-family: Arial;
  font-weight: 800;
  line-height: 0.51rem;
  color: #666666;
  text-align: center;
  outline: none;
}
body .content_one .one_threebox .expansion .expansion_item_add {
  border: 1px solid #eb2c2c;
  color: #eb2c2c;
}
body .content_one .one_fourbox {
  width: 7.3rem;
  height: auto;
  overflow: hidden;
  padding: 0.06rem 0.1rem;
  padding-top: 0;
  position: relative;
  min-height: 10rem;
}
body .content_one .one_fourbox .one_four_item {
  width: 3.38rem;
  height: 5.1rem;
  float: left;
  background: #ffffff;
  margin: 0.12rem;
  border-radius: 0.2rem;
  position: relative;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox {
  background: #6c63ff;
  width: 100%;
  height: 4.48rem;
  border-radius: 0.2rem;
  position: relative;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox .one_four_item_img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0.2rem 0.2rem 0 0;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox .one_four_item_left {
  position: absolute;
  bottom: 0.21rem;
  left: 0;
  background: #ffffff;
  box-shadow: -0.03rem 0.03rem 0.06rem rgba(0, 0, 0, 0.16);
  opacity: 0.8;
  border-radius: 0 0.05rem 0.05rem 0;
  font-size: 0.2rem;
  font-family: Arial;
  font-weight: 500;
  color: #eb2c2c;
  padding: 0 0.09rem 0 0.03rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox .one_four_item_hot {
  position: absolute;
  bottom: 0.21rem;
  right: 0;
  background: #ffffff;
  box-shadow: -0.03rem 0.03rem 0.06rem rgba(0, 0, 0, 0.16);
  opacity: 0.8;
  border-radius: 0.05rem 0 0 0.05rem;
  padding: 0 0.09rem 0 0.03rem;
  height: 0.4rem;
  line-height: 0.4rem;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox .one_four_item_hot > div {
  display: none;
  font-size: 0.2rem;
  font-family: Arial;
  font-weight: 400;
  color: #eb2c2c;
  margin-left: 0.08rem;
  float: left;
}
body .content_one .one_fourbox .one_four_item .one_four_item_imgbox .one_four_item_hot > img {
  width: 0.23rem;
  height: 0.2rem;
  display: block;
  float: left;
  margin-left: 0.08rem;
  margin-top: 0.1rem;
}
body .content_one .one_fourbox .one_four_item .one_four_item_intro {
  float: left;
  margin-top: 0.13rem;
  font-size: 0.34rem;
  font-family: Arial;
  font-weight: 800;
  line-height: 0.36rem;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 0.1rem;
  letter-spacing: 0.2rem;
  width: 100%;
  text-align: center;
}
body .content_one .one_fourbox .one_four_item .one_four_item_shop {
  display: none;
  margin-top: 0.13rem;
  float: right;
  margin-right: 0.05rem;
}
body .content_one .one_fourbox .one_four_item .one_four_item_shop > div {
  font-size: 0.2rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.36rem;
  color: #eb2c2c;
}
body .content_one .one_fourbox .one_four_p {
  font-size: 20px;
  position: relative;
  color: #c4c4c4;
  text-align: center;
}
body .content_one .one_fourbox .one_four_nodata {
  height: 2.5rem;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 25%;
}
body .content_one .one_fourbox .one_four_anmate {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave {
  margin: 30% auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect {
  border-radius: 1.5rem;
  background-color: #3d95fc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
body .content_one .one_fourbox .one_four_anmate .sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
body .content_one .one_button {
  position: fixed;
  top: 84%;
  right: 0;
  width: 1.65rem;
  line-height: normal;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: #3d95fc;
  box-shadow: 0 0.03rem 0.06rem rgba(46, 135, 254, 0.48);
  font-size: 0.28rem;
  font-family: Segoe UI;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
body .content_one .one_button_two {
  position: fixed;
  top: 78%;
  right: 0;
  width: 1.65rem;
  line-height: normal;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: #3d95fc;
  box-shadow: 0 0.03rem 0.06rem rgba(46, 135, 254, 0.48);
  font-size: 0.28rem;
  font-family: Segoe UI;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
body .content_one .test_imgbox {
  width: auto;
  height: 2.16rem;
  position: relative;
  left: 0;
}
body .content_one .test_imgbox .one_img_one {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: auto;
}
body .content_one .test_imgbox .one_img_one .one_img_herf {
  float: left;
  display: block;
  height: 100%;
}
body .content_one .test_imgbox .one_img_one .one_img_herf .one_imgone_img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_one .one_special {
  width: 99%;
  height: 0.7rem;
  overflow: hidden;
}
body .content_one .one_special .special_item_two {
  width: 32%;
  height: 100%;
  padding-left: 1%;
  float: left;
}
body .content_one .one_special .special_item_two .special_item_two_font {
  width: 1.8rem;
  background-image: url("../image/Details/special_four.png");
  background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 0.1rem;
  font-size: 0.28rem;
  font-family: Arial;
  font-weight: 400;
  line-height: normal;
  padding: 0.1rem 0 0.1rem 0;
  color: #ffffff;
  text-align: center;
}
body .content_one .one_special .special_item_two .special_item_add {
  background-image: url("../image/Details/special_two.png");
}
body .content_one .one_footer {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -1rem;
}
body .content_one .one_footer .one_footer_header {
  width: 90%;
  margin: 0 auto;
}
body .content_one .one_footer .one_footer_header > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_one .one_footer .one_footer_title {
  width: 4.7rem;
  height: 0.34rem;
  margin: 0 auto;
  padding-top: 0.38rem;
  margin-left: 1.6rem;
  margin-top: -0.9rem;
}
body .content_one .one_footer .one_footer_title > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_one .one_footer .one_footer_img {
  width: 100%;
  height: 1rem;
  margin-top: 0.05rem;
  bottom: 0;
  position: relative;
}
body .content_one .one_footer .one_footer_img > img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: -1;
}
body .content_one .one_footer .one_footer_img .one_footer_div {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  font-size: 0.26rem;
  font-family: Arial;
  font-weight: 400;
  color: #000000;
  text-align: center;
  width: 100%;
  line-height: 1.5rem;
}
body .content_two {
  margin-top: 0.1rem;
  width: 100%;
  height: auto;
}
body .content_two .two_oneimg {
  width: 100%;
  height: 2.16rem;
  margin-bottom: 0.1rem;
}
body .content_two .two_oneimg > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_two .two_twoimg {
  margin-top: 0.36rem;
  width: 100%;
  height: 2.16rem;
}
body .content_two .two_twoimg > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .content_three {
  width: 100%;
  height: auto;
  background-size: cover;
}
body .content_three > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .header_fonter {
  width: 100%;
  height: auto;
  background-size: cover;
}
body .header_fonter > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .buy {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
}
body .buy .buy_shutdown {
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 6.7rem;
  position: absolute;
  top: 1.1rem;
}
body .buy .buy_shutdown > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .buy .buy_box {
  width: 6.86rem;
  height: auto;
  margin: 0 auto;
  margin-top: 1.6rem;
  background: #ffffff;
  box-shadow: 0 0.03rem 0.06rem rgba(255, 255, 255, 0.39);
  opacity: 1;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding-bottom: 0.5rem;
}
body .buy .buy_box .buy_title {
  width: 4rem;
  height: 0.66rem;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  opacity: 1;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  border-radius: 0.1rem;
  margin: 0 auto;
  position: relative;
  top: -0.33rem;
}
body .buy .buy_box .buy_title > p {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.66rem;
  color: #ffffff;
  opacity: 1;
  text-align: center;
}
body .buy .buy_box .buy_content {
  margin-top: 0.26rem;
  margin-bottom: 0.16rem;
}
body .buy .buy_box .buy_content .buy_item {
  width: 5.84rem;
  height: 0.8rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  background: #f0f4ff;
  border-radius: 0.18rem;
  overflow: hidden;
}
body .buy .buy_box .buy_content .buy_item .buy_item_title {
  width: 30%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #000000;
  text-indent: 0.7em;
}
body .buy .buy_box .buy_content .buy_item .buy_item_title span {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
}
body .buy .buy_box .buy_content .buy_item .buy_item_textbox {
  width: 60%;
  float: left;
  margin-top: 0.05rem;
}
body .buy .buy_box .buy_content .buy_item .buy_item_text {
  width: 100%;
  padding: 0.15rem;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #000000;
  text-indent: 1em;
  background: #f0f4ff;
  display: block;
  border: 0;
  outline: none;
  overflow: hidden;
}
body .buy .buy_box .buy_content .buy_item_tishi {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  text-indent: 1em;
}
body .buy .buy_box .buy_content .buy_item_tc {
  width: 5.84rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  border-radius: 0.18rem;
  overflow: hidden;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_title {
  width: 28%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #000000;
  text-indent: 1em;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_a {
  width: 50%;
  height: 100%;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  float: left;
  text-decoration: underline;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_select {
  width: 40%;
  height: 90%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #000000;
  text-indent: 1em;
  background: #f0f4ff;
  display: block;
  border: 0;
  outline: none;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_radio {
  float: left;
  display: flex;
  margin-right: 0.1rem;
  margin-left: 0.3rem;
  overflow: hidden;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_radio > span {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #000000;
}
body .buy .buy_box .buy_content .buy_item_tc .buy_item_radio > input {
  width: 0.26rem;
  height: 0.26rem;
}
body .buy .buy_box .buy_submit {
  width: 5.53rem;
  height: 1rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  box-shadow: 0 0.03rem 0.2rem #6fb2ff;
  border-radius: 0.5rem;
  font-size: 0.36rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 1rem;
  color: #ffffff;
  text-shadow: 0 0.03rem 0.2rem rgba(103, 38, 231, 0.51);
  text-align: center;
}
body .buy_ok {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
}
body .buy_ok .buy_okbox {
  width: 4rem;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  background: #ffffff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  position: relative;
  padding-bottom: 0.5rem;
}
body .buy_ok .buy_okbox .buy_ok_logo {
  width: 1.75rem;
  height: 1.74rem;
  margin: 0 auto;
  position: relative;
  top: -0.24rem;
}
body .buy_ok .buy_okbox .buy_ok_logo > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .buy_ok .buy_okbox .buy_ok_fontone {
  width: 70%;
  margin: 0 auto;
  margin-top: 0.32rem;
  font-size: 0.25rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.38rem;
  text-align: center;
  color: #333333;
}
body .buy_ok .buy_okbox .buy_ok_fonttwo {
  margin-top: 0.06rem;
  font-size: 0.28rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.34rem;
  color: #999999;
  text-align: center;
}
body .buy_ok .buy_okbox .buy_ok_submit {
  width: 2.4rem;
  height: 0.88rem;
  margin: 0 auto;
  margin-top: 0.44rem;
  background: linear-gradient(180deg, #236cff 0%, #6fb2ff 100%);
  box-shadow: 0 0.03rem 0.2rem #6fb2ff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.36rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.88rem;
  color: #ffffff;
  text-shadow: 0 0.03rem 0.2rem rgba(103, 38, 231, 0.51);
  text-align: center;
}
body .login {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../image/Login/login.png");
}
body .login > img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
body .login_o .login_one {
  overflow: hidden;
}
body .login_o .login_one .login_logo {
  width: 0.81rem;
  height: 0.81rem;
  margin-top: 0.62rem;
  margin-left: 0.45rem;
  float: left;
}
body .login_o .login_one .login_logo > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o .login_one .login_menu {
  width: 0.47rem;
  height: 0.4rem;
  float: right;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
}
body .login_o .login_one .login_menu > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o .login_one_j {
  width: 5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
body .login_o .login_one_j > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o .login_t {
  overflow: hidden;
  position: relative;
  padding-bottom: 0.5rem;
}
body .login_o .login_t .login_tt {
  font-size: 0.35rem;
  font-family: Arial;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.9);
  margin-left: 0.6rem;
  margin-top: 0.1rem;
  letter-spacing: 0.05rem;
}
body .login_o .login_t .login_t_one {
  margin-top: -0.6rem;
}
body .login_o .login_t .login_t_one .login_two {
  font-size: 0.5rem;
  font-family: Arial;
  font-weight: 100;
  line-height: 0.8rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  margin-top: 1.2rem;
  margin-left: 0.6rem;
}
body .login_o .login_t .login_t_one .login_three {
  font-size: 0.5rem;
  font-family: Arial;
  font-weight: 100;
  line-height: 0.8rem;
  color: #ffffff;
  letter-spacing: 0.2rem;
  margin-left: 0.6rem;
}
body .login_o .login_t .login_t_chid {
  width: 5rem;
  position: absolute;
  top: 0.5rem;
  right: -0.8rem;
}
body .login_o .login_t .login_t_chid > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o .login_four {
  width: 2rem;
  height: 0.8rem;
  margin-left: 0.5rem;
  margin-top: 0.4rem;
  background-image: url("../image/Login/login_button.png");
  background-size: 100% 100%;
  overflow: hidden;
}
body .login_o .login_four .login_four_one {
  font-size: 0.3rem;
  font-family: Arial;
  line-height: 0.8rem;
  color: #ffffff;
  margin-left: 0.3rem;
  float: left;
}
body .login_o .login_four .login_four_two {
  float: left;
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.1rem;
  margin-top: 0.25rem;
}
body .login_o .login_four .login_four_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .login_o .login_five {
  width: 80%;
  height: auto;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 100;
  line-height: 0.8rem;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0.4rem;
  margin-left: 0.6rem;
  letter-spacing: 0.05rem;
}
body .login_o .login_six {
  font-size: 0.25rem;
  font-family: Arial;
  font-weight: 100;
  line-height: 0.5rem;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
}
body .share {
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #ffca1a 0%, #ff5656 100%);
  padding-bottom: 0.3rem;
}
body .share .share_one {
  width: 100%;
  height: auto;
  padding-top: 0.24rem;
  position: relative;
}
body .share .share_one .money_one {
  width: 6.88rem;
  height: 0.88rem;
  position: absolute;
  left: 0.18rem;
  top: 0;
  background-image: url("../image/Share/money_one.png");
  background-size: 100% 100%;
}
body .share .share_one .circle_one {
  width: 6.86rem;
  height: 6.86rem;
  position: relative;
  left: 0.32rem;
  top: 0;
  background-image: url("../image/Share/circle.png");
  background-size: 100% 100%;
}
body .share .share_one .mango_one {
  width: 1.04rem;
  height: 1.09rem;
  position: absolute;
  left: 0.14rem;
  top: 1.1rem;
  background-image: url("../image/Share/mango.png");
  background-size: 100% 100%;
}
body .share .share_one .red_one {
  width: 1.46rem;
  height: 1.53rem;
  position: absolute;
  left: 5.73rem;
  top: 1.23rem;
  background-image: url("../image/Share/red_one.png");
  background-size: 100% 100%;
}
body .share .share_one .mango_two {
  width: 1.71rem;
  height: 1.24rem;
  position: absolute;
  left: 5.68rem;
  top: 1.16rem;
  background-image: url("../image/Share/mango_two.png");
  background-size: 100% 100%;
}
body .share .share_one .money_two {
  width: 0.69rem;
  height: 0.72rem;
  position: absolute;
  left: 0.38rem;
  top: 2.04rem;
  background-image: url("../image/Share/money_two.png");
  background-size: 100% 100%;
}
body .share .share_one .money_three {
  width: 0.46rem;
  height: 0.93rem;
  position: absolute;
  left: 7.04rem;
  top: 2.76rem;
  background-image: url("../image/Share/money_three.png");
  background-size: 100% 100%;
}
body .share .share_one .font_one {
  width: 5.96rem;
  height: 1.91rem;
  position: absolute;
  left: 0.77rem;
  top: 1.78rem;
  background-image: url("../image/Share/font_one.png");
  background-size: 100% 100%;
}
body .share .share_one .down_one {
  width: 100%;
  height: 2.46rem;
  position: absolute;
  left: 0;
  top: 3.84rem;
  background-image: url("../image/Share/down_one.png");
  background-size: 100% 100%;
}
body .share .share_one .poly_one {
  width: 1.29rem;
  height: 1.05rem;
  position: absolute;
  left: 0;
  top: 5.11rem;
  background-image: url("../image/Share/polyline_one.png");
  background-size: 100% 100%;
}
body .share .share_one .poly_two {
  width: 0.86rem;
  height: 1.28rem;
  position: absolute;
  left: 6.64rem;
  top: 4.99rem;
  background-image: url("../image/Share/polyline_two.png");
  background-size: 100% 100%;
}
body .share .share_one .font_two {
  width: 5.68rem;
  height: 0.69rem;
  position: absolute;
  left: 0.86rem;
  top: 4.72rem;
  background-image: url("../image/Share/font_two.png");
  background-size: 100% 100%;
}
body .share .share_one .new {
  width: 0.51rem;
  height: 0.57rem;
  position: absolute;
  left: 5.04rem;
  top: 1.67rem;
  background-image: url("../image/Share/new.png");
  background-size: 100% 100%;
}
body .share .share_one .font_three {
  width: 3.46rem;
  height: 0.55rem;
  position: absolute;
  left: 2.22rem;
  top: 6.55rem;
  background-image: url("../image/Share/font_three.png");
  background-size: 100% 100%;
  font-size: 0.32rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.55rem;
  color: #fb5c2b;
  text-indent: 2em;
}
body .share .share_two {
  width: 80%;
  height: auto;
  font-size: 0.35rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.5rem;
  color: #ffffff;
  letter-spacing: 0.04rem;
  margin: 0 auto;
  margin-top: 0.6rem;
  text-indent: 2.3em;
}
body .share .share_three {
  width: 0.38rem;
  height: 0.31rem;
  margin-top: 0.15rem;
  margin-left: 6.66rem;
  background-image: url("../image/Share/lightning.png");
  background-size: 100% 100%;
}
body .share .share_four {
  width: 3.46rem;
  height: 0.55rem;
  margin: 0 auto;
  margin-top: 0.68rem;
  background-image: url("../image/Share/font_three.png");
  background-size: 100% 100%;
  font-size: 0.32rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.55rem;
  color: #fb5c2b;
  text-indent: 0.5em;
}
body .share .share_five {
  margin-top: 0.29rem;
  padding-bottom: 0.3rem;
}
body .share .share_five .share_item {
  width: 5.84rem;
  height: 0.8rem;
  margin: 0 auto;
  margin-top: 0.16rem;
  background: rgba(255, 211, 171, 0.47);
  border-radius: 0.18rem;
  overflow: hidden;
  user-select: text !important;
  -webkit-user-select: text !important;
}
body .share .share_five .share_item .share_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #ffffff;
  text-indent: 1em;
}
body .share .share_five .share_item .item_new_one {
  width: 50%;
}
body .share .share_five .share_item .share_item_text {
  width: 60%;
  height: 90%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.4rem;
  color: #ffffff;
  text-indent: 1em;
  background: rgba(255, 211, 171, 0);
  display: block;
  border: 0;
  outline: none;
  user-select: text;
  -webkit-user-select: text;
}
body .share .share_five .share_item .item_new_two {
  width: 50%;
}
body .share .share_five .share_item .item_new_three {
  float: right;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #ffffff;
  margin-left: 0.4rem;
}
body .share .share_five .share_item .item_new_three input {
  margin-top: 0.25rem;
}
body .share .share_five .share_item .item_new_four {
  width: 40%;
  height: 100%;
  float: left;
  background: rgba(255, 211, 171, 0.47);
  border-radius: 0.18rem;
}
body .share .share_five .item_new_five {
  background: none;
}
body .share .share_five .share_text {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.4rem;
  color: #ffffff;
  margin: 0 auto;
}
body .share .share_six {
  width: 4.24rem;
  height: 1.19rem;
  margin: 0 auto;
}
body .share .share_six > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_seven {
  width: 3.74rem;
  height: 1.07rem;
  margin: 0 auto;
}
body .share .share_seven > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_eight {
  width: 100%;
  height: 0.61rem;
  margin-top: 0.15rem;
  margin-bottom: 0.25rem;
}
body .share .share_eight .share_eight_box {
  display: table;
  margin: 0 auto;
  text-align: center;
}
body .share .share_eight .share_eight_box .share_eight_one {
  width: 2.3rem;
  height: 0.61rem;
  margin-right: 1.11rem;
  float: left;
}
body .share .share_eight .share_eight_box .share_eight_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_eight .share_eight_box .share_eight_two {
  width: 2.3rem;
  height: 0.61rem;
  float: left;
}
body .share .share_eight .share_eight_box .share_eight_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_nine {
  width: 3.52rem;
  height: 0.61rem;
  margin: 0 auto;
  margin-bottom: 0.34rem;
}
body .share .share_nine > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_qrcode {
  width: 3rem;
  height: 3rem;
  border-radius: 0.1rem;
  background: #ffffff;
  padding: 0.05rem;
  margin: 0 auto;
  margin-bottom: 0.33rem;
}
body .share .share_qrcode .qrcode {
  width: 100%;
  height: 100%;
  display: block;
  background: red;
}
body .share .share_ten {
  width: 1.61rem;
  height: 1.09rem;
  margin: 0 auto;
}
body .share .share_ten > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share .share_submit {
  width: 5rem;
  height: 0.74rem;
  margin: 0 auto;
  background: #fec334;
  box-shadow: 0.02rem 0.15rem 0.5rem rgba(231, 82, 98, 0.4);
  -webkit-border-radius: 0.36rem;
  -moz-border-radius: 0.36rem;
  border-radius: 0.36rem;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.74rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1rem;
}
body .share .share_text {
  width: 80%;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.4rem;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 0.2rem;
}
body .designer_header {
  width: 100%;
  height: 7.12rem;
  background-image: url("../image/Designer/designer_header.png");
  background-size: 100% 100%;
}
body .designer_content .designer_content_one {
  width: 7rem;
  height: auto;
  margin: 0 auto;
  margin-top: -1.32rem;
  background: #ffffff;
  box-shadow: 0 0.12rem 0.12rem rgba(34, 8, 114, 0.05);
  -webkit-border-radius: 0.33rem;
  -moz-border-radius: 0.33rem;
  border-radius: 0.33rem;
  position: relative;
}
body .designer_content .designer_content_one .designer_title {
  width: 3.9rem;
  height: 0.73rem;
  background: linear-gradient(180deg, #6b38dd 0%, #562de1 100%);
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
  margin: 0 auto;
  top: -0.41rem;
  position: relative;
  font-size: 0.36rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.73rem;
  color: #ffffff;
  text-align: center;
}
body .designer_content .designer_content_one .designer_title:before {
  content: '';
  width: 0;
  height: 0;
  border-right: 0.35rem solid #4a2e8f;
  border-top: 0.35rem solid transparent;
  position: absolute;
  top: 0.06rem;
  left: -0.35rem;
}
body .designer_content .designer_content_one .designer_title:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.35rem solid #4a2e8f;
  border-top: 0.35rem solid transparent;
  position: absolute;
  top: 0.06rem;
  left: 100%;
}
body .designer_content .designer_content_one .designer_title_header {
  padding-bottom: 0.8rem;
  margin-top: 0.2rem;
}
body .designer_content .designer_content_one .designer_title_header > p {
  width: 100%;
  display: block;
  font-size: 0.4rem;
  font-family: SimHei;
  font-weight: 400;
  line-height: 0.8rem;
  color: #9185f6;
  text-shadow: 0 0.03rem 0.06rem rgba(0, 0, 0, 0.16);
  margin: 0 auto;
  text-align: center;
}
body .designer_content .designer_content_one .designer_gold_one {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.55rem;
  left: 0.07rem;
}
body .designer_content .designer_content_one .designer_gold_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .designer_content .designer_content_one .designer_gold_two {
  width: 0.43rem;
  height: 0.43rem;
  position: absolute;
  top: 0.61rem;
  right: 0.26rem;
}
body .designer_content .designer_content_one .designer_gold_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .designer_content .designer_content_one .designer_red_one {
  width: 0.29rem;
  height: 0.26rem;
  position: absolute;
  top: 2.73rem;
  left: 1.03rem;
}
body .designer_content .designer_content_one .designer_red_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .designer_content .designer_content_one .designer_red_two {
  width: 0.42rem;
  height: 0.42rem;
  position: absolute;
  top: 3.49rem;
  right: 0.84rem;
}
body .designer_content .designer_content_one .designer_red_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .designer_content .designer_content_two {
  width: 7rem;
  height: auto;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0.12rem 0.12rem rgba(34, 8, 114, 0.05);
  -webkit-border-radius: 0.33rem;
  -moz-border-radius: 0.33rem;
  border-radius: 0.33rem;
  margin-top: 0.94rem;
}
body .designer_content .designer_content_two .designer_title {
  width: 3.9rem;
  height: 0.73rem;
  background: linear-gradient(180deg, #6b38dd 0%, #562de1 100%);
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  border-radius: 0.08rem;
  margin: 0 auto;
  top: -0.41rem;
  position: relative;
  font-size: 0.36rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.73rem;
  color: #ffffff;
  text-align: center;
}
body .designer_content .designer_content_two .designer_title:before {
  content: '';
  width: 0;
  height: 0;
  border-right: 0.35rem solid #4a2e8f;
  border-top: 0.35rem solid transparent;
  position: absolute;
  top: 0.06rem;
  left: -0.35rem;
}
body .designer_content .designer_content_two .designer_title:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 0.35rem solid #4a2e8f;
  border-top: 0.35rem solid transparent;
  position: absolute;
  top: 0.06rem;
  left: 100%;
}
body .designer_content .designer_content_two .designer_two_one .designer_two_item {
  width: 5.84rem;
  height: 0.8rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  background: #f2f2f2;
  border-radius: 0.18rem;
}
body .designer_content .designer_content_two .designer_two_one .designer_two_item .designer_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #5d4fd4;
  text-indent: 1em;
}
body .designer_content .designer_content_two .designer_two_one .designer_two_item .designer_item_title span {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
}
body .designer_content .designer_content_two .designer_two_one .designer_two_item .designer_item_text {
  width: 60%;
  height: 90%;
  float: left;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #5d4fd4;
  text-indent: 1em;
  background: rgba(255, 211, 171, 0);
  display: block;
  border: 0;
  outline: none;
}
body .designer_content .designer_content_two .designer_two_one .designer_textarea_title {
  width: 5.84rem;
  height: 0.8rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  background: #f2f2f2;
  border-radius: 0.18rem;
}
body .designer_content .designer_content_two .designer_two_one .designer_textarea_title .designer_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #5d4fd4;
  text-indent: 1em;
}
body .designer_content .designer_content_two .designer_two_one .designer_textarea {
  width: 5.4rem;
  height: 3rem;
  margin: 0 auto;
  display: block;
  background: #f2f2f2;
  border-radius: 0.18rem;
  outline: none;
  border: 0;
  padding: 0.2rem;
  resize: none;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #5d4fd4;
}
body .designer_content .designer_content_two .designer_two_one .designer_two_ts {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  text-indent: 1em;
}
body .designer_content .designer_button {
  width: 5rem;
  height: 0.74rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  background: #6c63ff;
  box-shadow: 0.02rem 0.15rem 0.5rem rgba(111, 178, 255, 0.45);
  -webkit-border-radius: 0.36rem;
  -moz-border-radius: 0.36rem;
  border-radius: 0.36rem;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.74rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1rem;
}
body .footer {
  width: 100%;
  height: 0.72rem;
  margin-top: 0.3rem;
}
body .footer > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_one {
  width: 100%;
  height: 6.1rem;
  background-image: url("../image/Member/new_one.png");
  background-size: 100% 100%;
  position: relative;
}
body .new_member .member_one .member_one_one {
  width: 100%;
  height: 1.95rem;
  position: absolute;
  top: 1.23rem;
  left: 0;
}
body .new_member .member_one .member_one_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_one .member_one_two {
  width: 5.18rem;
  height: 2.19rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding-top: 1.33rem;
}
body .new_member .member_one .member_one_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_one .member_one_three {
  width: 7.04rem;
  height: 2.61rem;
  position: absolute;
  top: 2.46rem;
  left: 0.29rem;
}
body .new_member .member_one .member_one_three > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two {
  width: 100%;
  height: auto;
  background: #ffffff;
  position: relative;
}
body .new_member .member_two .member_two_one {
  width: 4.51rem;
  height: 3.2rem;
  left: 1.46rem;
  top: -1.94rem;
  position: absolute;
  z-index: 1;
}
body .new_member .member_two .member_two_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two .member_two_two {
  width: 0.62rem;
  height: 1.81rem;
  position: absolute;
  top: 0.27rem;
  right: 0;
}
body .new_member .member_two .member_two_two > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two .member_two_three {
  width: 5.06rem;
  height: 2.39rem;
  margin: 0 auto;
  padding-top: 1.9rem;
}
body .new_member .member_two .member_two_three > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two .member_two_four {
  width: 5.8rem;
  height: 2.29rem;
  margin: 0 auto;
}
body .new_member .member_two .member_two_four > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two .member_two_five {
  width: 0.85rem;
  height: 1.16rem;
  position: absolute;
  margin-top: 1rem;
}
body .new_member .member_two .member_two_five > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_two .member_two_six {
  width: 2.32rem;
  height: 2.5rem;
  margin: 0 auto;
  margin-top: 0.27rem;
}
body .new_member .member_two .member_two_six > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .new_member .member_three {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 5.84rem;
  height: auto;
  margin-bottom: 0.4rem;
}
body .new_member .member_three .member_three_item {
  width: 100%;
  height: 0.8rem;
  margin-bottom: 0.16rem;
  background: #e670b7;
  border-radius: 0.18rem;
  overflow: hidden;
}
body .new_member .member_three .member_three_item .member_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #000000;
  text-indent: 1em;
}
body .new_member .member_three .member_three_item .member_item_title span {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
}
body .new_member .member_three .member_three_item .member_item_text {
  width: 60%;
  height: 90%;
  float: left;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #000000;
  text-indent: 1em;
  background: rgba(255, 211, 171, 0);
  display: block;
  border: 0;
  outline: none;
  cursor: pointer;
}
body .new_member .member_three .member_three_ts {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  text-indent: 1em;
}
body .new_member .member_submit {
  width: 5.6rem;
  height: 1.47rem;
  margin: 0 auto;
  margin-top: 0.4rem;
}
body .new_member .member_submit > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .partner {
  padding-bottom: 0.5rem;
}
body .partner .partner_one {
  width: 100%;
  height: 8.93rem;
}
body .partner .partner_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .partner .partner_three {
  margin-top: 0.6rem;
}
body .partner .partner_three .partner_header {
  overflow: hidden;
}
body .partner .partner_three .partner_header .partner_header_imgone {
  float: left;
  width: 0.42rem;
  height: 0.35rem;
  margin-left: 1.41rem;
}
body .partner .partner_three .partner_header .partner_header_imgone > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .partner .partner_three .partner_header .partner_header_title {
  width: 3.8rem;
  height: auto;
  text-align: center;
  font-size: 0.4rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.38rem;
  color: #ffffff;
  float: left;
}
body .partner .partner_three .partner_header .partner_header_imgtwo {
  float: left;
  width: 0.42rem;
  height: 0.35rem;
}
body .partner .partner_three .partner_header .partner_header_imgtwo > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .partner .partner_three .partner_three_content {
  margin-top: 0.65rem;
}
body .partner .partner_three .partner_three_content .partner_three_item {
  width: 5.84rem;
  height: 0.8rem;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 0.18rem;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  overflow: hidden;
}
body .partner .partner_three .partner_three_content .partner_three_item .partner_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #ffffff;
  text-indent: 1em;
}
body .partner .partner_three .partner_three_content .partner_three_item .partner_item_title span {
  color: red;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
}
body .partner .partner_three .partner_three_content .partner_three_item .partner_item_text {
  width: 60%;
  height: 90%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.4rem;
  color: #ffffff;
  text-indent: 1em;
  background: rgba(255, 211, 171, 0);
  display: block;
  border: 0;
  outline: none;
}
body .partner .partner_three .partner_three_content .partner_three_ts {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  text-indent: 1em;
}
body .partner .partner_three .partner_three_content .partner_three_ts span {
  color: #ffffff;
}
body .partner .partner_submit {
  width: 5rem;
  height: 0.74rem;
  margin: 0 auto;
  margin-top: 0.44rem;
  background: #6c63ff;
  box-shadow: 0.02rem 0.15rem 0.5rem rgba(108, 99, 255, 0.34);
  -webkit-border-radius: 0.36rem;
  -moz-border-radius: 0.36rem;
  border-radius: 0.36rem;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.74rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1rem;
}
body .partner .partner_about {
  position: fixed;
  top: 5%;
  right: 0;
  width: 1.65rem;
  line-height: normal;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: #3d95fc;
  box-shadow: 0 0.03rem 0.06rem rgba(46, 135, 254, 0.48);
  font-size: 0.28rem;
  font-family: Segoe UI;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
body .custom {
  background: linear-gradient(324deg, #262870 0%, #483584 100%);
  padding-bottom: 0.5rem;
}
body .custom .custom_one {
  width: 100%;
  height: 6.5rem;
}
body .custom .custom_one > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .custom .custom_two {
  width: 6.15rem;
  height: auto;
  margin: 0 auto;
  padding-bottom: 0.2rem;
  background: #404ba6;
  border: 3px solid white;
  border-radius: 0.1rem;
}
body .custom .custom_two .custom_two_title {
  width: 1.84rem;
  height: 0.46rem;
  background: linear-gradient(352deg, #ff51b7 0%, #ffa031 100%);
  margin-top: -0.28rem;
  margin-left: 0.23rem;
  transform: skew(160deg, 0deg);
}
body .custom .custom_two .custom_two_title > p {
  width: 100%;
  height: 100%;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.46rem;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0;
  transform: skew(20deg, 0deg);
  letter-spacing: 0.05rem;
}
body .custom .custom_two .custom_two_intro {
  width: 100%;
  height: auto;
  overflow: auto;
  margin: 0 auto;
  margin-top: 0.2rem;
}
body .custom .custom_two .custom_two_intro .custom_two_item {
  width: 50%;
  height: 1.8rem;
  float: left;
  padding-top: 0.56rem;
}
body .custom .custom_two .custom_two_intro .custom_two_item .custom_item_img_one {
  width: 0.62rem;
  height: 0.6rem;
  display: block;
  margin: 0 auto;
}
body .custom .custom_two .custom_two_intro .custom_two_item .custom_item_img_two {
  width: 0.58rem;
  height: 0.6rem;
  display: block;
  margin: 0 auto;
}
body .custom .custom_two .custom_two_intro .custom_two_item .custom_item_img_three {
  width: 0.64rem;
  height: 0.6rem;
  display: block;
  margin: 0 auto;
}
body .custom .custom_two .custom_two_intro .custom_two_item .custom_item_img_four {
  width: 0.56rem;
  height: 0.6rem;
  display: block;
  margin: 0 auto;
}
body .custom .custom_two .custom_two_intro .custom_two_item > p {
  font-size: 0.4rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.35rem;
  color: #ffffff;
  text-align: center;
}
body .custom .custom_three {
  width: 6.15rem;
  height: auto;
  margin: 0 auto;
  margin-top: 0.54rem;
  background: #404ba6;
  border: 3px solid white;
  border-radius: 0.1rem;
}
body .custom .custom_three .custom_three_title {
  width: 2.56rem;
  height: 0.46rem;
  background: linear-gradient(352deg, #ff51b7 0%, #ffa031 100%);
  margin-top: -0.28rem;
  margin-left: 0.23rem;
  transform: skew(160deg, 0deg);
}
body .custom .custom_three .custom_three_title > p {
  width: 100%;
  height: 100%;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.46rem;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0;
  transform: skew(20deg, 0deg);
  letter-spacing: 0.05rem;
}
body .custom .custom_three .custom_three_content {
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 5.84rem;
  height: auto;
  margin-bottom: 0.4rem;
}
body .custom .custom_three .custom_three_content .custom_three_item {
  width: 100%;
  height: 0.8rem;
  margin-bottom: 0.16rem;
  background: rgba(255, 255, 255, 0.47);
  border-radius: 0.18rem;
  overflow: hidden;
}
body .custom .custom_three .custom_three_content .custom_three_item .custom_item_title {
  width: 33%;
  height: 100%;
  float: left;
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: #ffffff;
  text-indent: 1em;
}
body .custom .custom_three .custom_three_content .custom_three_item .custom_item_title span {
  font-size: 0.3rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
}
body .custom .custom_three .custom_three_content .custom_three_item .custom_item_text {
  width: 60%;
  height: 90%;
  float: left;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  color: #ffffff;
  text-indent: 1em;
  background: rgba(255, 211, 171, 0);
  display: block;
  border: 0;
  outline: none;
}
body .custom .custom_three .custom_three_content .custom_three_ts {
  width: 5.84rem;
  font-size: 0.24rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.8rem;
  color: red;
  margin: 0 auto;
  margin-bottom: 0.16rem;
  text-indent: 1em;
}
body .custom .custom_three .custom_three_content .custom_three_ts span {
  color: #ffffff;
}
body .custom .custom_submit {
  width: 5rem;
  height: 0.74rem;
  margin: 0 auto;
  margin-top: 0.44rem;
  background: #6c63ff;
  box-shadow: 0.02rem 0.15rem 0.5rem rgba(108, 99, 255, 0.34);
  -webkit-border-radius: 0.36rem;
  -moz-border-radius: 0.36rem;
  border-radius: 0.36rem;
  font-size: 0.3rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.74rem;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.1rem;
}
body .mycard {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.42);
  z-index: 5;
}
body .mycard .mycardbox {
  width: 6.26rem;
  height: 5.12rem;
  background: rgba(255, 255, 255, 0.9);
  margin: 0 auto;
  margin-top: 2.8rem;
  border-radius: 0.2rem;
  background-image: url("../image/Details/mycard.png");
  background-size: 100% 100%;
}
body .mycard .mycardbox .mycard_one {
  position: relative;
  width: 100%;
  height: 1.3rem;
}
body .mycard .mycardbox .mycard_one .mycard_img {
  width: 2.12rem;
  height: 2.1rem;
  background-image: url("../image/Details/mycard_one.png");
  background-size: 100% 100%;
  margin-left: 0.06rem;
  position: relative;
  top: -0.86rem;
  float: left;
}
body .mycard .mycardbox .mycard_one .mycard_title {
  font-size: 0.34rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.6rem;
  color: #ffffff;
  margin-left: 0.18rem;
  margin-top: 0.18rem;
  float: left;
}
body .mycard .mycardbox .mycard_one .mycard_canel {
  width: 0.32rem;
  height: 0.3rem;
  background-image: url("../image/Details/mycard_shutdown.png");
  background-size: 100% 100%;
  float: right;
  margin-right: 0.32rem;
  margin-top: 0.3rem;
}
body .mycard .mycardbox .mycard_content .gift_card {
  width: 4.78rem;
  height: 1.8rem;
  background-image: url("../image/Details/gift_card.png");
  background-size: 100% 100%;
  margin: 0 auto;
  overflow: hidden;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_one {
  width: 29%;
  height: 100%;
  float: left;
  padding-left: 0.2rem;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_one .gift_num {
  font-size: 0.43rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.59rem;
  color: #e1003f;
  margin-top: 0.52rem;
  text-align: center;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_one .gift_infotmation {
  font-size: 0.2rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.22rem;
  color: #999999;
  text-align: center;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_two {
  width: 65%;
  height: 100%;
  float: left;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_two .gift_id {
  font-size: 0.28rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.15rem;
  color: #333333;
  text-align: center;
  margin-top: 0.65rem;
}
body .mycard .mycardbox .mycard_content .gift_card .gift_two .gift_time {
  font-size: 0.2rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.14rem;
  color: #999999;
  text-align: center;
  margin-top: 0.35rem;
}
body .mycard .mycardbox .mycard_content .one_four_p {
  font-size: 20px;
  position: relative;
  margin-top: 20%;
  text-align: center;
}
body .mycard .mycardbox .mycard_content .one_four_href {
  font-size: 20px;
  position: relative;
  text-align: center;
  display: block;
  text-decoration: underline;
}
body .package {
  width: 100%;
  height: auto;
  background-size: cover;
}
body .package > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share_limit {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.42);
}
body .share_limit .limit {
  width: 4rem;
  height: 4.5rem;
  margin: 0 auto;
  margin-top: 4rem;
  background: #ffffff;
  border-radius: 0.4rem;
}
body .share_limit .limit .limit_img {
  width: 0.9rem;
  height: 0.95rem;
  margin: 0 auto;
  padding-top: 0.3rem;
}
body .share_limit .limit .limit_img > img {
  width: 100%;
  height: 100%;
  display: block;
}
body .share_limit .limit .limit_title {
  font-size: 0.32rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.38rem;
  color: #333333;
  text-align: center;
  margin-top: 0.23rem;
}
body .share_limit .limit .limit_font {
  font-size: 0.28rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 0.34rem;
  color: #999999;
  margin-top: 0.4rem;
  text-align: center;
}
body .share_limit .limit .limit_submit {
  width: 2.4rem;
  height: 0.88rem;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  box-shadow: 0 0.03rem 0.2rem #6fb2ff;
  opacity: 1;
  border-radius: 0.5rem;
  margin: 0 auto;
  margin-top: 0.44rem;
  font-size: 0.36rem;
  font-family: Source Han Sans SC;
  font-weight: 400;
  line-height: 0.88rem;
  color: #ffffff;
  text-shadow: 0 0.03rem 0.2rem rgba(103, 38, 231, 0.51);
  text-align: center;
}
body .about {
  width: 100%;
  position: relative;
}
body .about > img {
  width: 100%;
  display: block;
}
body .about .about_two {
  width: 100%;
  position: relative;
}
body .about .about_two > img {
  width: 100%;
  display: block;
}
body .about .about_two .te {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
body .about .newer {
  width: 100%;
  height: 1.2rem;
  position: absolute;
  bottom: 0;
  background: rgba(196, 196, 196, 0);
}
body .about .newer .te {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
body .login_anmate {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
}
body .login_anmate #preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .login_anmate #loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
body .login_anmate #loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
body .login_anmate #loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body .index_anmate {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 50;
}
body .index_anmate .sk-wave {
  margin: 45vh auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
body .index_anmate .sk-wave .sk-rect {
  border-radius: 1.5rem;
  background-color: #3d95fc;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
body .index_anmate .sk-wave .sk-rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
body .index_anmate .sk-wave .sk-rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
body .index_anmate .sk-wave .sk-rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
body .index_anmate .sk-wave .sk-rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
body .index_anmate .sk-wave .sk-rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes sk-waveStretchDelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
body .aa {
  animation: kk 0.5s;
}
body a,
body a:hover,
body a:active,
body a:visited,
body a:link,
body a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: none;
  text-decoration: none;
}
.limi {
  width: 100%;
  height: 15rem;
  background: #fff url('../image/Login/login.png') no-repeat left top;
  background-size: 100% 100%;
  position: relative;
}
.limi .label {
  position: absolute;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  top: 65%;
  padding: 0.15rem 0.3rem;
  right: 0;
  font-size: 0.26rem;
  font-family: Segoe UI;
  font-weight: bold;
  line-height: 0.3rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
.limi .label_one {
  position: absolute;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  top: 72%;
  padding: 0.15rem 0.18rem;
  right: 0;
  font-size: 0.26rem;
  font-family: Segoe UI;
  font-weight: bold;
  line-height: 0.3rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
.limi .label_two {
  position: absolute;
  background: linear-gradient(360deg, #236cff 0%, #6fb2ff 100%);
  top: 58%;
  padding: 0.15rem 0.3rem;
  right: 0;
  font-size: 0.26rem;
  font-family: Segoe UI;
  font-weight: bold;
  line-height: 0.3rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.3rem 0 0 0.3rem;
}
a,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
@keyframes kk {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0);
  }
}
@keyframes oo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.03, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}
